/* Note target the body first with the modifer.
For example, every evenSecond change the div color to blue.
Every oddSecond change the div color to red

body.evenS .time {
  color:blue;
}

body.oddS .time {
  color:red;
}

Target multiple together. Every evenSecond only in the evening, display an image.

body.evenS.pm .sunset {
  display:block;
}

*/


/* Time CSS here */

/* WEEKDAYS */

/* MONDAYS 9AM-5PM - ON THE CLOCK SWITCH SELECTED, EXCLUDING LUNCH BREAK 12-1 */
body.monday.h12.am .on, body.monday.h1.am .on, body.monday.h2.am .on, body.monday.h3.am .on, body.monday.h4.am .on, body.monday.h5.am .on, body.monday.h6.am .on {
  opacity: 0.05;
}
body.monday.h7.am .on, body.monday.h8.am .on, body.monday.h12.pm .on, body.monday.h5.pm .on, body.monday.h6.pm .on, body.monday.h7.pm .on, body.monday.h8.pm .on, body.monday.h9.pm .on {
  opacity: 0.05;
}
body.monday.h10.pm .on, body.monday.h11.pm .on {
  opacity: 0.05;
}
/* MONDAYS 5PM-8AM - OFF THE CLOCK SWITCH SELECTED, INCLUDING LUNCH BREAK 12-1 */
body.monday.h12.am .off, body.monday.h1.am .off, body.monday.h2.am .off, body.monday.h3.am .off, body.monday.h4.am .off, body.monday.h5.am .off, body.monday.h6.am .off {
  opacity: 1;
}
body.monday.h7.am .off, body.monday.h8.am .off, body.monday.h12.pm .off, body.monday.h5.pm .off, body.monday.h6.pm .off, body.monday.h7.pm .off, body.monday.h8.pm .off, body.monday.h9.pm .off {
  opacity: 1;
}
body.monday.h10.pm .off, body.monday.h11.pm .off {
  opacity: 1;
}

/* MONDAYS CLOCK - HIDE WHEN 'OFF THE CLOCK': 5PM-8AM WEEKDAYS, ALL HOURS ON WEEKENDS */
body.monday.h12.am .time, body.monday.h1.am .time, body.monday.h2.am .time, body.monday.h3.am .time, body.monday.h4.am .time, body.monday.h5.am .time, body.monday.h6.am .time {
  display: none;
}
body.monday.h7.am .time, body.monday.h8.am .time, body.monday.h5.pm .time, body.monday.h6.pm .time, body.monday.h7.pm .time, body.monday.h8.pm .time, body.monday.h9.pm .time, body.monday.h10.pm .time {
  display: none;
}
body.monday.h11.pm .time {
  display: none;
}
/* MONDAYS HALF-HOURLY IMAGES, INCL. 12-1PM LUNCH BREAK IMAGE (***not coded yet) */
body.monday.h9.halfH.am img.one , body.monday.h9.secondhalfH.am img.two, body.monday.h10.halfH.am img.three, body.monday.h10.secondhalfH.am img.four, body.monday.h11.halfH.am img.five, body.monday.h11.secondhalfH.am img.six {
  display: block;
}
body.monday.h12.pm img.seven_lunch, body.monday.h1.halfH.pm img.eight, body.monday.h1.secondhalfH.pm img.nine, body.monday.h2.halfH.pm img.ten, body.monday.h2.secondhalfH.pm img.eleven, body.monday.h3.halfH.pm img.twelve {
  display: block;
}
body.monday.h3.secondhalfH.pm img.thirteen, body.monday.h4.halfH.pm img.fourteen, body.monday.h4.secondhalfH.pm img.fifteen {
  display: block;
}


/* TUESDAYS 9AM-5PM - ON THE CLOCK SWITCH SELECTED, EXCLUDING LUNCH BREAK 12-1 */
body.tuesday.h12.am .on, body.tuesday.h1.am .on, body.tuesday.h2.am .on, body.tuesday.h3.am .on, body.tuesday.h4.am .on, body.tuesday.h5.am .on, body.tuesday.h6.am .on {
  opacity: 0.05;
}
body.tuesday.h7.am .on, body.tuesday.h8.am .on, body.tuesday.h12.pm .on, body.tuesday.h5.pm .on, body.tuesday.h6.pm .on, body.tuesday.h7.pm .on, body.tuesday.h8.pm .on, body.tuesday.h9.pm .on {
  opacity: 0.05;
}
body.tuesday.h10.pm .on, body.tuesday.h11.pm .on {
  opacity: 0.05;
}
/* TUESDAYS 5PM-8AM - OFF THE CLOCK SWITCH SELECTED, INCLUDING LUNCH BREAK 12-1 */
body.tuesday.h12.am .off, body.tuesday.h1.am .off, body.tuesday.h2.am .off, body.tuesday.h3.am .off, body.tuesday.h4.am .off, body.tuesday.h5.am .off, body.tuesday.h6.am .off {
  opacity: 1;
}
body.tuesday.h7.am .off, body.tuesday.h8.am .off, body.tuesday.h12.pm .off, body.tuesday.h5.pm .off, body.tuesday.h6.pm .off, body.tuesday.h7.pm .off, body.tuesday.h8.pm .off, body.tuesday.h9.pm .off {
  opacity: 1;
}
body.tuesday.h10.pm .off, body.tuesday.h11.pm .off {
  opacity: 1;
}

/* TUESDAYS CLOCK */
body.tuesday.h12.am .time, body.tuesday.h1.am .time, body.tuesday.h2.am .time, body.tuesday.h3.am .time, body.tuesday.h4.am .time, body.tuesday.h5.am .time, body.tuesday.h6.am .time {
  display: none;
}
body.tuesday.h7.am .time, body.tuesday.h8.am .time, body.tuesday.h5.pm .time, body.tuesday.h6.pm .time, body.tuesday.h7.pm .time, body.tuesday.h8.pm .time, body.tuesday.h9.pm .time, body.tuesday.h10.pm .time {
  display: none;
}
body.tuesday.h11.pm .time {
  display: none;
}


/* WEDNESDAYS 9AM-5PM - ON THE CLOCK SWITCH SELECTED, EXCLUDING LUNCH BREAK 12-1 */
body.wednesday.h12.am .on, body.wednesday.h1.am .on, body.wednesday.h2.am .on, body.wednesday.h3.am .on, body.wednesday.h4.am .on, body.wednesday.h5.am .on, body.wednesday.h6.am .on {
  opacity: 0.05;
}
body.wednesday.h7.am .on, body.wednesday.h8.am .on, body.wednesday.h12.pm .on, body.wednesday.h5.pm .on, body.wednesday.h6.pm .on, body.wednesday.h7.pm .on, body.wednesday.h8.pm .on, body.wednesday.h9.pm .on {
  opacity: 0.05;
}
body.wednesday.h10.pm .on, body.wednesday.h11.pm .on {
  opacity: 0.05;
}
/* WEDNESDAYS 5PM-8AM - OFF THE CLOCK SWITCH SELECTED, INCLUDING LUNCH BREAK 12-1 */
body.wednesday.h12.am .off, body.wednesday.h1.am .off, body.wednesday.h2.am .off, body.wednesday.h3.am .off, body.wednesday.h4.am .off, body.wednesday.h5.am .off, body.wednesday.h6.am .off {
  opacity: 1;
}
body.wednesday.h7.am .off, body.wednesday.h8.am .off, body.wednesday.h12.pm .off, body.wednesday.h5.pm .off, body.wednesday.h6.pm .off, body.wednesday.h7.pm .off, body.wednesday.h8.pm .off, body.wednesday.h9.pm .off {
  opacity: 1;
}
body.wednesday.h10.pm .off, body.wednesday.h11.pm .off {
  opacity: 1;
}

/* WEDNESDAYS CLOCK */
body.wednesday.h12.am .time, body.wednesday.h1.am .time, body.wednesday.h2.am .time, body.wednesday.h3.am .time, body.wednesday.h4.am .time, body.wednesday.h5.am .time, body.wednesday.h6.am .time {
  display: none;
}
body.wednesday.h7.am .time, body.wednesday.h8.am .time, body.wednesday.h5.pm .time, body.wednesday.h6.pm .time, body.wednesday.h7.pm .time, body.wednesday.h8.pm .time, body.wednesday.h9.pm .time, body.wednesday.h10.pm .time {
  display: none;
}
body.wednesday.h11.pm .time {
  display: none;
}


/* THURSDAYS 9AM-5PM - ON THE CLOCK SWITCH SELECTED, EXCLUDING LUNCH BREAK 12-1 */
body.thursday.h12.am .on, body.thursday.h1.am .on, body.thursday.h2.am .on, body.thursday.h3.am .on, body.thursday.h4.am .on, body.thursday.h5.am .on, body.thursday.h6.am .on {
  opacity: 0.05;
}
body.thursday.h7.am .on, body.thursday.h8.am .on, body.thursday.h12.pm .on, body.thursday.h5.pm .on, body.thursday.h6.pm .on, body.thursday.h7.pm .on, body.thursday.h8.pm .on, body.thursday.h9.pm .on {
  opacity: 0.05;
}
body.thursday.h10.pm .on, body.thursday.h11.pm .on {
  opacity: 0.05;
}
/* THURSDAYS 5PM-8AM - OFF THE CLOCK SWITCH SELECTED, INCLUDING LUNCH BREAK 12-1 */
body.thursday.h12.am .off, body.thursday.h1.am .off, body.thursday.h2.am .off, body.thursday.h3.am .off, body.thursday.h4.am .off, body.thursday.h5.am .off, body.thursday.h6.am .off {
  opacity: 1;
}
body.thursday.h7.am .off, body.thursday.h8.am .off, body.thursday.h12.pm .off, body.thursday.h5.pm .off, body.thursday.h6.pm .off, body.thursday.h7.pm .off, body.thursday.h8.pm .off, body.thursday.h9.pm .off {
  opacity: 1;
}
body.thursday.h10.pm .off, body.thursday.h11.pm .off {
  opacity: 1;
}
/* THURSDAYS CLOCK */
body.thursday.h12.am .time, body.thursday.h1.am .time, body.thursday.h2.am .time, body.thursday.h3.am .time, body.thursday.h4.am .time, body.thursday.h5.am .time, body.thursday.h6.am .time {
  display: none;
}
body.thursday.h7.am .time, body.thursday.h8.am .time, body.thursday.h5.pm .time, body.thursday.h6.pm .time, body.thursday.h7.pm .time, body.thursday.h8.pm .time, body.thursday.h9.pm .time, body.thursday.h10.pm .time {
  display: none;
}
body.thursday.h11.pm .time {
  display: none;
}


/* FRIDAYS 9AM-5PM - ON THE CLOCK SWITCH SELECTED, EXCLUDING LUNCH BREAK 12-1 */
body.friday.h12.am .on, body.friday.h1.am .on, body.friday.h2.am .on, body.friday.h3.am .on, body.friday.h4.am .on, body.friday.h5.am .on, body.friday.h6.am .on {
  opacity: 0.05;
}
body.friday.h7.am .on, body.friday.h8.am .on, body.friday.h12.pm .on, body.friday.h5.pm .on, body.friday.h6.pm .on, body.friday.h7.pm .on, body.friday.h8.pm .on, body.friday.h9.pm .on {
  opacity: 0.05;
}
body.friday.h10.pm .on, body.friday.h11.pm .on {
  opacity: 0.05;
}
/* FRIDAYS 5PM-8AM - OFF THE CLOCK SWITCH SELECTED, INCLUDING LUNCH BREAK 12-1 */
body.friday.h12.am .off, body.friday.h1.am .off, body.friday.h2.am .off, body.friday.h3.am .off, body.friday.h4.am .off, body.friday.h5.am .off, body.friday.h6.am .off {
  opacity: 1;
}
body.friday.h7.am .off, body.friday.h8.am .off, body.friday.h12.pm .off, body.friday.h5.pm .off, body.friday.h6.pm .off, body.friday.h7.pm .off, body.friday.h8.pm .off, body.friday.h9.pm .off {
  opacity: 1;
}
body.friday.h10.pm .off, body.friday.h11.pm .off {
  opacity: 1;
}
/* FRIDAYS CLOCK */
body.friday.h12.am .time, body.friday.h1.am .time, body.friday.h2.am .time, body.friday.h3.am .time, body.friday.h4.am .time, body.friday.h5.am .time, body.friday.h6.am .time {
  display: none;
}
body.friday.h7.am .time, body.friday.h8.am .time, body.friday.h5.pm .time, body.friday.h6.pm .time, body.friday.h7.pm .time, body.friday.h8.pm .time, body.friday.h9.pm .time, body.friday.h10.pm .time {
  display: none;
}
body.friday.h11.pm .time {
  display: none;
}

/* OFF THE CLOCK SWITCH FADED OUT, OFF THE CLOCK MESSAGE HIDE */
body.monday body.tuesday body.thursday body.thursday body.friday, .offmessage {
  display: none;
}

body.monday body.tuesday body.wednesday body.thursday body.friday, .off {
  opacity: 0.05;
}


/* SATURDAYS AND SUNDAYS CLOCK - HIDE WHEN 'OFF THE CLOCK': ALL HOURS ON WEEKENDS */
body.saturday .time, body.sunday .time {
  display: none;
}

/* SATURDAYS AND SUNDAYS - SHOW OFF THE CLOCK 'YOU CAN'T AFFORD' MESSAGE*/
body.saturday .offmessage, body.sunday .offmessage {
  display: block;
}

/* SATURDAYS AND SUNDAYS - OFF THE CLOCK SWITCH SELECTED */
body.saturday .on, body.sunday .on {
  opacity: 0.05;
}
body.saturday .off, body.sunday .off {
  opacity: 1;
}

/* TEST: SHOW UPDATED IMAGES, MESSAGE AND TOTAL AMOUNT EVERY HALF HOUR
this bit is working now, just need to update the days/times/images to the correct matching ones */

body.sunday.h11.halfH.pm img.eclipse, body.sunday.h11.halfH.pm .totalamount_test {
  display: block;
}
body.sunday.h11.secondhalfH.pm img.sunrise, body.sunday.h11.secondhalfH.pm .totalamount_test2, body.sunday.h11.secondhalfH.pm .message_pickle {
  display: block;
}
body.monday.h12.halfH.am img.cola, body.monday.h12.halfH.am .totalamount_test3cola, body.monday.h12.halfH.am .message_cola {
  display: block;
}
body.monday.h12.secondhalfH.am img.petfish, body.monday.h12.secondhalfH.am .totalamount_test4petfish, body.monday.h12.secondhalfH.am .message_petfish {
  display: block;
}
