* {
  box-sizing: border-box;
}


/* Start here */

body {

}

.time {
  font-family: arial, sans-serif;
  text-align: center;
  font-size: 100px;
  margin-bottom:50px;
}

.image_swap {
  margin: auto;
  width: 600px;
}

.image_swap img {
  max-width: 100%;
}

.message {
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
}

.grace {
  display: none;
  color: red;
  font-family: arial, sans-serif;
  text-align: center;
  font-size: 100px;
}

body.h12.quarterM .grace {
  display: block;
}
