<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>layout3</title>

    <style media="screen">

    body {
      font-family:helvetica;
    }

      .margin {
        margin-left:200px;
        border-left:2px dotted;
        padding-left:100px;
        width: 400px;
      }

      .two {
        margin-left:400px;
        color:red;
      }

      .three {
        margin-left:600px;
        color:blue;
      }
    </style>
  </head>

  <body>

    <div class="margin one">
      <h1>HEADER</h1>
      <h2>SUBHEADER</h2>
    </div>
<br>
    <div class="margin two">
      Looking at the manifesto now, we see a lot of small things we don’t agree with.First of all, we think the title should have been “Non–representationism” instead of “Disrepresentationism”. Moreover, the categories of ‘representation’ and ‘dis–or non–representation’ are not really part of our thinking anymore.
    </div>
<br>
    <div class="margin three">
      We also used some other words in the manifesto (‘functionality’ and ‘amoralism’) that we would never use now; in fact, looking back at our body of work, we think our work has been very moralistic, from the very start.
    </div>

  </body>
</html>
