.nav {
  z-index:1;
  font-family: helvetica, sans-serif;
  font-size: 35px;
  margin-left: 20px;
  margin-top: 20px;
  cursor: pointer;
  position: fixed;
  top:0px;
  left:9px;
}

.nav:hover {
  animation-name: spinner;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
  transform-style: preserve-3d;
  text-align:center;
  font-family: helvetica, sans-serif;
  font-size: 35px;
  width: 20px;
}
@keyframes spinner {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}

.menu {
  width: 50vw;
  height: 100vh;
  background-color: white;
  position: fixed;
  left:-50vw;
  top:0px;
  transition: all 1s;
}

.menu.showme {
  left:0px;
  transition: all 1s;
}

.info {
  font-family: helvetica, sans-serif;
  margin-top: 50px;
  margin-left: 80px;
}



.p1 {
  position: fixed;
  top: 350px;
  left: 300px;
  width: 250px;
}

.bin {
  margin-left: 23.5px;
  margin-top: 30px;
  width: 30px;
  position: fixed;
}

body {
  background-color: #FFEDE9;
  background: linear-gradient(to bottom,white,white, #8c526d,#c76872,#df795b,#b8733b);
}

h2 {
  font-family: helvetica, sans-serif;
  padding-top: 100px;
}

.text {
  font-family: times; serif;
  font-size: 30px;
  transition:all 0.5s;
  width: 100%;
  margin-left: 70px;
}

.text.new__width {
  width: 70%;
  transition:all 2s;
}

.fakelink {
  font-size: 25px;
  font-family: helvetica, sans-serif;
}

.fakelink:hover {
  color: white;
  cursor: pointer;
}

.popup {
  display: none;
}


.notification {
    display:none;
    position: fixed;
    top: 10px;
    right: 10px;
    width: 250px;
    background-color: #eaeaea;
    padding: 20px;
    border-radius: 10px;
    font-family: helvetica, sans-serif;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.4);
}
