body {
  font-size: 30px;
  font-family: sans-serif;
  color: blue;
  background-color: orange;
  width: 900px;
}

img {
  width: 400px;
}

.title {
  display: inline;
}
.title:hover {
  text-decoration: underline;
}

.source {
  font-size: 15px;
  display: none;
  position: relative;
}

.source.showme {
  display: inline;
}

.heading:hover {
  color: yellow;
  transition: 3s;
}

.subheading:hover {
  color: red;
  transition: 2s;
}

.image {
  position: absolute;
  left: 950px;
}
.image.enlarge {
  height: 900px;
  transition: 1s;
  left:10px;
}

.thumbnail {
  width: 400px;
  transition: 1s;
}




.caption {
  font-size: 15px;
  font-family: monospace;
  width: 400px;
}

.number {
  font-size: 20px;
  color: red;
}

.number:hover {
  text-decoration: underline;
  background-color: white;
}

.footnote {
  font-size: 20px;
  color: white;
  position: fixed;
  bottom: 50px;
  left: 950px;
  width: 300px;
  font-family: serif;
  display: none;
}

.footnote.showme {
  display: block;
}
