<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>layout 2</title>

<style media="screen">

  .inlineblock {
    display:inline-block;
    vertical-align:middle;
    width: 400px;
    border:5px solid;
    padding:5px;
    margin: 50px; 
  }

  .widthdouble {
    width:800px;
    vertical-align: top;
    padding:5px;
  }
</style>

  </head>
  <body>

    <div class="inlineblock">
      Looking at the manifesto now, we see a lot of small things we don’t agree with. First of all, we think the title should have been “Non–representationism” instead of “Disrepresentationism”. Moreover, the categories of ‘representation’ and ‘dis–or non–representation’ are not really part of our thinking anymore. We also used some other words in the manifesto (‘functionality’ and ‘amoralism’) that we would never use now; in fact, looking back at our body of work, we think our work has been very moralistic, from the very start.
    </div>

    <div class="inlineblock widthdouble">
      Looking at the manifesto now, we see a lot of small things we don’t agree with. First of all, we think the title should have been “Non–representationism” instead of “Disrepresentationism”. Moreover, the categories of ‘representation’ and ‘dis–or non–representation’ are not really part of our thinking anymore. We also used some other words in the manifesto (‘functionality’ and ‘amoralism’) that we would never use now; in fact, looking back at our body of work, we think our work has been very moralistic, from the very start.
    </div>

    <div class="inlineblock">
      Looking at the manifesto now, we see a lot of small things we don’t agree with. First of all, we think the title should have been “Non–representationism” instead of “Disrepresentationism”. Moreover, the categories of ‘representation’ and ‘dis–or non–representation’ are not really part of our thinking anymore. We also used some other words in the manifesto (‘functionality’ and ‘amoralism’) that we would never use now; in fact, looking back at our body of work, we think our work has been very moralistic, from the very start.
    </div>


  </body>
</html>
