* {
  box-sizing: border-box;
}


/* Start here */
a {
  z-index: 99;
  position: absolute;
  top: 10px;
}
a:link {
  font-family: arial, sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: blue;
  text-transform: lowercase;
}
a:visited {
    color: blue;
}
a:hover {
    color: black;
    background-color: yellow;
}

body {
font-family: arial, sans-serif;
font-size: 50px;
margin: 20px;
}

.message {
  z-index: -99;
  display: none;
  position: absolute;
  top: 200px;
}
.first_row {
  top: 400px;
}
.second_row {
  top: 600px;
}
.third_row {
  top: 800px;
}
.lunchmessage {
  display: none;
}

.on, .off {
  font-size: 50px;
  position: fixed;
  top: 50px;
}
.on {
  -webkit-text-stroke-width: 1.2px;
  -webkit-text-stroke-color: red;
  color: transparent;
}
.off {
  -webkit-text-stroke-width: 1.2px;
  -webkit-text-stroke-color: black;
  color: transparent;
}

.time {
  font-size: 40px;
  text-align: center;
  position: fixed;
  top: 50px;
  left: 25%;
  right: 25%;
}

.date {
  font-size: 20px;
  text-align: right;
  position: fixed;
  top: 75px;
  right: 20px;
}

.minimumwage {
  font-size: 20px;
  text-align: right;
  position: fixed;
  top: 50px;
  right: 20px;
}

.totalamount {
  display: none;
  width: 100%;
  font-size: 20px;
  position: fixed;
  top: 125px;
  text-align: center;
}

img {
  z-index: -99;
 display: none;
  position: absolute;
  top: 220px;
  width: 1400px;
}

.lunch {
  left: 10px;
  top: 260px;
  width: 300px;
}
