/* WEEKDAYS */

/* MONDAYS 9AM-5PM - ON THE CLOCK SWITCH SELECTED, EXCLUDING LUNCH BREAK 12-1 */
body.monday.h12.am .on, body.monday.h1.am .on, body.monday.h2.am .on, body.monday.h3.am .on, body.monday.h4.am .on, body.monday.h5.am .on, body.monday.h6.am .on {
  opacity: 0.05;
}
body.monday.h7.am .on, body.monday.h8.am .on, body.monday.h12.pm .on, body.monday.h5.pm .on, body.monday.h6.pm .on, body.monday.h7.pm .on, body.monday.h8.pm .on, body.monday.h9.pm .on {
  opacity: 0.05;
}
body.monday.h10.pm .on, body.monday.h11.pm .on {
  opacity: 0.05;
}
/* MONDAYS 5PM-8AM - OFF THE CLOCK SWITCH SELECTED, INCLUDING LUNCH BREAK 12-1 */
body.monday.h12.am .off, body.monday.h1.am .off, body.monday.h2.am .off, body.monday.h3.am .off, body.monday.h4.am .off, body.monday.h5.am .off, body.monday.h6.am .off {
  opacity: 1;
}
body.monday.h7.am .off, body.monday.h8.am .off, body.monday.h12.pm .off, body.monday.h5.pm .off, body.monday.h6.pm .off, body.monday.h7.pm .off, body.monday.h8.pm .off, body.monday.h9.pm .off {
  opacity: 1;
}
body.monday.h10.pm .off, body.monday.h11.pm .off {
  opacity: 1;
}
/* MONDAYS CLOCK - HIDE WHEN 'OFF THE CLOCK': 5PM-8AM WEEKDAYS, ALL HOURS ON WEEKENDS */
body.monday.h12.am .time, body.monday.h1.am .time, body.monday.h2.am .time, body.monday.h3.am .time, body.monday.h4.am .time, body.monday.h5.am .time, body.monday.h6.am .time {
  display: none;
}
body.monday.h7.am .time, body.monday.h8.am .time, body.monday.h5.pm .time, body.monday.h6.pm .time, body.monday.h7.pm .time, body.monday.h8.pm .time, body.monday.h9.pm .time, body.monday.h10.pm .time {
  display: none;
}
body.monday.h11.pm .time {
  display: none;
}
/* MONDAYS 12AM - 8AM SHOW 'YOU CAN'T AFFORD' MESSAGE */
body.monday.h12.am .offmessage, body.monday.h1.am .offmessage, body.monday.h2.am .offmessage, body.monday.h3.am .offmessage, body.monday.h4.am .offmessage, body.monday.h5.am .offmessage, body.monday.h6.am .offmessage, body.monday.h7.am .offmessage {
  display: block;
}
body.monday.h8.am .offmessage {
  display: block;
}
/* MONDAYS HALF-HOURLY IMAGES, INCL. 12-1PM LUNCH BREAK IMAGE */
body.monday.h9.secondhalfH.am img.picklespotplant, body.monday.h10.halfH.am img.fortunecookies, body.monday.h10.secondhalfH.am img.scalpmassager, body.monday.h11.halfH.am img.movietickets, body.monday.h11.secondhalfH.am img.eggsaladsandwiches {
  display: block;
}
body.monday.h12.pm img.lunch, body.monday.h1.halfH.pm img.crossword, body.monday.h1.secondhalfH.pm img.petfish, body.monday.h2.halfH.pm img.toesockscola, body.monday.h2.secondhalfH.pm img.mars, body.monday.h3.halfH.pm img.dumbbellswatermelon {
  display: block;
}
body.monday.h3.secondhalfH.pm img.bubblewraphandgriptrainer, body.monday.h4.halfH.pm img.winetoothbrush, body.monday.h4.secondhalfH.pm img.crazystrawyoyo {
  display: block;
}
/* MONDAYS HALF-HOURLY MESSAGES, INCL. 12-1PM LUNCH BREAK MESSAGE */
body.monday.h9.secondhalfH.am .message_picklepotplant, body.monday.h10.halfH.am .message_fortunecookies, body.monday.h10.secondhalfH.am .message_scalpmassager, body.monday.h11.halfH.am .message_movietickets, body.monday.h11.secondhalfH.am .message_eggsaladsandwiches {
  display: block;
}
body.monday.h12.pm .message_lunch, body.monday.h1.halfH.pm .message_crossword, body.monday.h1.secondhalfH.pm .message_petfish, body.monday.h2.halfH.pm .message_toesockscola, body.monday.h2.secondhalfH.pm .message_mars, body.monday.h3.halfH.pm .message_dumbbellswatermelon {
  display: block;
}
body.monday.h3.secondhalfH.pm .message_bubblewraphandgriptrainer, body.monday.h4.halfH.pm .message_winetoothbrush, body.monday.h4.secondhalfH.pm .message_crazystrawyoyo {
  display: block;
}
/* MONDAYS HALF-HOURLY TOTAL AMOUNTS MADE MESSAGE, INCL. 12-1PM STAGNANT LUNCH BREAK */
body.monday.h9.halfH.am .totalamount_none, body.monday.h9.secondhalfH.am .totalamount_2, body.monday.h10.halfH.am .totalamount_3, body.monday.h10.secondhalfH.am .totalamount_4, body.monday.h11.halfH.am .totalamount_5, body.monday.h11.secondhalfH.am .totalamount_6 {
  display: block;
}
body.monday.h12.pm .totalamount_7, body.monday.h1.halfH.pm .totalamount_7, body.monday.h1.secondhalfH.pm .totalamount_8, body.monday.h2.halfH.pm .totalamount_9, body.monday.h2.secondhalfH.pm .totalamount_10, body.monday.h3.halfH.pm .totalamount_11 {
  display: block;
}
body.monday.h3.secondhalfH.pm .totalamount_12, body.monday.h4.halfH.pm .totalamount_13, body.monday.h4.secondhalfH.pm .totalamount_14, body.monday.h5.pm .totalamount_15, body.monday.h6.pm .totalamount_15, body.monday.h7.pm .totalamount_15, body.monday.h8.pm .totalamount_15 {
  display: block;
}
body.monday.h9.pm .totalamount_15, body.monday.h10.pm .totalamount_15, body.monday.h11.pm .totalamount_15 {
  display: block;
}


/* TUESDAYS 9AM-5PM - ON THE CLOCK SWITCH SELECTED, EXCLUDING LUNCH BREAK 12-1 */
body.tuesday.h12.am .on, body.tuesday.h1.am .on, body.tuesday.h2.am .on, body.tuesday.h3.am .on, body.tuesday.h4.am .on, body.tuesday.h5.am .on, body.tuesday.h6.am .on {
  opacity: 0.05;
}
body.tuesday.h7.am .on, body.tuesday.h8.am .on, body.tuesday.h12.pm .on, body.tuesday.h5.pm .on, body.tuesday.h6.pm .on, body.tuesday.h7.pm .on, body.tuesday.h8.pm .on, body.tuesday.h9.pm .on {
  opacity: 0.05;
}
body.tuesday.h10.pm .on, body.tuesday.h11.pm .on {
  opacity: 0.05;
}
/* TUESDAYS 5PM-8AM - OFF THE CLOCK SWITCH SELECTED, INCLUDING LUNCH BREAK 12-1 */
body.tuesday.h12.am .off, body.tuesday.h1.am .off, body.tuesday.h2.am .off, body.tuesday.h3.am .off, body.tuesday.h4.am .off, body.tuesday.h5.am .off, body.tuesday.h6.am .off {
  opacity: 1;
}
body.tuesday.h7.am .off, body.tuesday.h8.am .off, body.tuesday.h12.pm .off, body.tuesday.h5.pm .off, body.tuesday.h6.pm .off, body.tuesday.h7.pm .off, body.tuesday.h8.pm .off, body.tuesday.h9.pm .off {
  opacity: 1;
}
body.tuesday.h10.pm .off, body.tuesday.h11.pm .off {
  opacity: 1;
}
/* TUESDAYS CLOCK */
body.tuesday.h12.am .time, body.tuesday.h1.am .time, body.tuesday.h2.am .time, body.tuesday.h3.am .time, body.tuesday.h4.am .time, body.tuesday.h5.am .time, body.tuesday.h6.am .time {
  display: none;
}
body.tuesday.h7.am .time, body.tuesday.h8.am .time, body.tuesday.h5.pm .time, body.tuesday.h6.pm .time, body.tuesday.h7.pm .time, body.tuesday.h8.pm .time, body.tuesday.h9.pm .time, body.tuesday.h10.pm .time {
  display: none;
}
body.tuesday.h11.pm .time {
  display: none;
}
/* TUESDAYS 12AM - 8AM SHOW 'YOU CAN'T AFFORD' MESSAGE */
body.tuesday.h12.am .offmessage, body.tuesday.h1.am .offmessage, body.tuesday.h2.am .offmessage, body.tuesday.h3.am .offmessage, body.tuesday.h4.am .offmessage, body.tuesday.h5.am .offmessage, body.tuesday.h6.am .offmessage, body.tuesday.h7.am .offmessage {
  display: block;
}
body.tuesday.h8.am .offmessage {
  display: block;
}
/* TUESDAYS HALF-HOURLY IMAGES, INCL. 12-1PM LUNCH BREAK IMAGE */
body.tuesday.h9.secondhalfH.am img.picklespotplant, body.tuesday.h10.halfH.am img.fortunecookies, body.tuesday.h10.secondhalfH.am img.scalpmassager, body.tuesday.h11.halfH.am img.movietickets, body.tuesday.h11.secondhalfH.am img.eggsaladsandwiches {
  display: block;
}
body.tuesday.h12.pm img.lunch, body.tuesday.h1.halfH.pm img.crossword, body.tuesday.h1.secondhalfH.pm img.petfish, body.tuesday.h2.halfH.pm img.toesockscola, body.tuesday.h2.secondhalfH.pm img.mars, body.tuesday.h3.halfH.pm img.dumbbellswatermelon {
  display: block;
}
body.tuesday.h3.secondhalfH.pm img.bubblewraphandgriptrainer, body.tuesday.h4.halfH.pm img.winetoothbrush, body.tuesday.h4.secondhalfH.pm img.crazystrawyoyo {
  display: block;
}
/* TUESDAYS HALF-HOURLY MESSAGES, INCL. 12-1PM LUNCH BREAK MESSAGE */
body.tuesday.h9.secondhalfH.am .message_picklepotplant, body.tuesday.h10.halfH.am .message_fortunecookies, body.tuesday.h10.secondhalfH.am .message_scalpmassager, body.tuesday.h11.halfH.am .message_movietickets, body.tuesday.h11.secondhalfH.am .message_eggsaladsandwiches {
  display: block;
}
body.tuesday.h12.pm .message_lunch, body.tuesday.h1.halfH.pm .message_crossword, body.tuesday.h1.secondhalfH.pm .message_petfish, body.tuesday.h2.halfH.pm .message_toesockscola, body.tuesday.h2.secondhalfH.pm .message_mars, body.tuesday.h3.halfH.pm .message_dumbbellswatermelon {
  display: block;
}
body.tuesday.h3.secondhalfH.pm .message_bubblewraphandgriptrainer, body.tuesday.h4.halfH.pm .message_winetoothbrush, body.tuesday.h4.secondhalfH.pm .message_crazystrawyoyo {
  display: block;
}
/* TUESDAYS HALF-HOURLY TOTAL AMOUNTS MADE MESSAGE, INCL. 12-1PM STAGNANT LUNCH BREAK */
body.tuesday.h9.halfH.am .totalamount_none, body.tuesday.h9.secondhalfH.am .totalamount_2, body.tuesday.h10.halfH.am .totalamount_3, body.tuesday.h10.secondhalfH.am .totalamount_4, body.tuesday.h11.halfH.am .totalamount_5, body.tuesday.h11.secondhalfH.am .totalamount_6 {
  display: block;
}
body.tuesday.h12.pm .totalamount_7, body.tuesday.h1.halfH.pm .totalamount_7, body.tuesday.h1.secondhalfH.pm .totalamount_8, body.tuesday.h2.halfH.pm .totalamount_9, body.tuesday.h2.secondhalfH.pm .totalamount_10, body.tuesday.h3.halfH.pm .totalamount_11 {
  display: block;
}
body.tuesday.h3.secondhalfH.pm .totalamount_12, body.tuesday.h4.halfH.pm .totalamount_13, body.tuesday.h4.secondhalfH.pm .totalamount_14, body.tuesday.h5.pm .totalamount_15, body.tuesday.h6.pm .totalamount_15, body.tuesday.h7.pm .totalamount_15, body.tuesday.h8.pm .totalamount_15 {
  display: block;
}
body.tuesday.h9.pm .totalamount_15, body.tuesday.h10.pm .totalamount_15, body.tuesday.h11.pm .totalamount_15 {
  display: block;
}


/* WEDNESDAYS 9AM-5PM - ON THE CLOCK SWITCH SELECTED, EXCLUDING LUNCH BREAK 12-1 */
body.wednesday.h12.am .on, body.wednesday.h1.am .on, body.wednesday.h2.am .on, body.wednesday.h3.am .on, body.wednesday.h4.am .on, body.wednesday.h5.am .on, body.wednesday.h6.am .on {
  opacity: 0.05;
}
body.wednesday.h7.am .on, body.wednesday.h8.am .on, body.wednesday.h12.pm .on, body.wednesday.h5.pm .on, body.wednesday.h6.pm .on, body.wednesday.h7.pm .on, body.wednesday.h8.pm .on, body.wednesday.h9.pm .on {
  opacity: 0.05;
}
body.wednesday.h10.pm .on, body.wednesday.h11.pm .on {
  opacity: 0.05;
}
/* WEDNESDAYS 5PM-8AM - OFF THE CLOCK SWITCH SELECTED, INCLUDING LUNCH BREAK 12-1 */
body.wednesday.h12.am .off, body.wednesday.h1.am .off, body.wednesday.h2.am .off, body.wednesday.h3.am .off, body.wednesday.h4.am .off, body.wednesday.h5.am .off, body.wednesday.h6.am .off {
  opacity: 1;
}
body.wednesday.h7.am .off, body.wednesday.h8.am .off, body.wednesday.h12.pm .off, body.wednesday.h5.pm .off, body.wednesday.h6.pm .off, body.wednesday.h7.pm .off, body.wednesday.h8.pm .off, body.wednesday.h9.pm .off {
  opacity: 1;
}
body.wednesday.h10.pm .off, body.wednesday.h11.pm .off {
  opacity: 1;
}
/* WEDNESDAYS CLOCK */
body.wednesday.h12.am .time, body.wednesday.h1.am .time, body.wednesday.h2.am .time, body.wednesday.h3.am .time, body.wednesday.h4.am .time, body.wednesday.h5.am .time, body.wednesday.h6.am .time {
  display: none;
}
body.wednesday.h7.am .time, body.wednesday.h8.am .time, body.wednesday.h5.pm .time, body.wednesday.h6.pm .time, body.wednesday.h7.pm .time, body.wednesday.h8.pm .time, body.wednesday.h9.pm .time, body.wednesday.h10.pm .time {
  display: none;
}
body.wednesday.h11.pm .time {
  display: none;
}
/* WEDNESDAYS 12AM - 8AM SHOW 'YOU CAN'T AFFORD' MESSAGE */
body.wednesday.h12.am .offmessage, body.wednesday.h1.am .offmessage, body.wednesday.h2.am .offmessage, body.wednesday.h3.am .offmessage, body.wednesday.h4.am .offmessage, body.wednesday.h5.am .offmessage, body.wednesday.h6.am .offmessage, body.wednesday.h7.am .offmessage {
  display: block;
}
body.wednesday.h8.am .offmessage {
  display: block;
}
/* WEDNESDAYS HALF-HOURLY IMAGES, INCL. 12-1PM LUNCH BREAK IMAGE */
body.wednesday.h9.secondhalfH.am img.picklespotplant, body.wednesday.h10.halfH.am img.fortunecookies, body.wednesday.h10.secondhalfH.am img.scalpmassager, body.wednesday.h11.halfH.am img.movietickets, body.wednesday.h11.secondhalfH.am img.eggsaladsandwiches {
  display: block;
}
body.wednesday.h12.pm img.lunch, body.wednesday.h1.halfH.pm img.crossword, body.wednesday.h1.secondhalfH.pm img.petfish, body.wednesday.h2.halfH.pm img.toesockscola, body.wednesday.h2.secondhalfH.pm img.mars, body.wednesday.h3.halfH.pm img.dumbbellswatermelon {
  display: block;
}
body.wednesday.h3.secondhalfH.pm img.bubblewraphandgriptrainer, body.wednesday.h4.halfH.pm img.winetoothbrush, body.wednesday.h4.secondhalfH.pm img.crazystrawyoyo {
  display: block;
}
/* WEDNESDAYS HALF-HOURLY MESSAGES, INCL. 12-1PM LUNCH BREAK MESSAGE */
body.wednesday.h9.secondhalfH.am .message_picklepotplant, body.wednesday.h10.halfH.am .message_fortunecookies, body.wednesday.h10.secondhalfH.am .message_scalpmassager, body.wednesday.h11.halfH.am .message_movietickets, body.wednesday.h11.secondhalfH.am .message_eggsaladsandwiches {
  display: block;
}
body.wednesday.h12.pm .message_lunch, body.wednesday.h1.halfH.pm .message_crossword, body.wednesday.h1.secondhalfH.pm .message_petfish, body.wednesday.h2.halfH.pm .message_toesockscola, body.wednesday.h2.secondhalfH.pm .message_mars, body.wednesday.h3.halfH.pm .message_dumbbellswatermelon {
  display: block;
}
body.wednesday.h3.secondhalfH.pm .message_bubblewraphandgriptrainer, body.wednesday.h4.halfH.pm .message_winetoothbrush, body.wednesday.h4.secondhalfH.pm .message_crazystrawyoyo {
  display: block;
}
/* WEDNESDAYS HALF-HOURLY TOTAL AMOUNTS MADE MESSAGE, INCL. 12-1PM STAGNANT LUNCH BREAK */
body.wednesday.h9.halfH.am .totalamount_none, body.wednesday.h9.secondhalfH.am .totalamount_2, body.wednesday.h10.halfH.am .totalamount_3, body.wednesday.h10.secondhalfH.am .totalamount_4, body.wednesday.h11.halfH.am .totalamount_5, body.wednesday.h11.secondhalfH.am .totalamount_6 {
  display: block;
}
body.wednesday.h12.pm .totalamount_7, body.wednesday.h1.halfH.pm .totalamount_7, body.wednesday.h1.secondhalfH.pm .totalamount_8, body.wednesday.h2.halfH.pm .totalamount_9, body.wednesday.h2.secondhalfH.pm .totalamount_10, body.wednesday.h3.halfH.pm .totalamount_11 {
  display: block;
}
body.wednesday.h3.secondhalfH.pm .totalamount_12, body.wednesday.h4.halfH.pm .totalamount_13, body.wednesday.h4.secondhalfH.pm .totalamount_14, body.wednesday.h5.pm .totalamount_15, body.wednesday.h6.pm .totalamount_15, body.wednesday.h7.pm .totalamount_15, body.wednesday.h8.pm .totalamount_15 {
  display: block;
}
body.wednesday.h9.pm .totalamount_15, body.wednesday.h10.pm .totalamount_15, body.wednesday.h11.pm .totalamount_15 {
  display: block;
}


/* THURSDAYS 9AM-5PM - ON THE CLOCK SWITCH SELECTED, EXCLUDING LUNCH BREAK 12-1 */
body.thursday.h12.am .on, body.thursday.h1.am .on, body.thursday.h2.am .on, body.thursday.h3.am .on, body.thursday.h4.am .on, body.thursday.h5.am .on, body.thursday.h6.am .on {
  opacity: 0.05;
}
body.thursday.h7.am .on, body.thursday.h8.am .on, body.thursday.h12.pm .on, body.thursday.h5.pm .on, body.thursday.h6.pm .on, body.thursday.h7.pm .on, body.thursday.h8.pm .on, body.thursday.h9.pm .on {
  opacity: 0.05;
}
body.thursday.h10.pm .on, body.thursday.h11.pm .on {
  opacity: 0.05;
}
/* THURSDAYS 5PM-8AM - OFF THE CLOCK SWITCH SELECTED, INCLUDING LUNCH BREAK 12-1 */
body.thursday.h12.am .off, body.thursday.h1.am .off, body.thursday.h2.am .off, body.thursday.h3.am .off, body.thursday.h4.am .off, body.thursday.h5.am .off, body.thursday.h6.am .off {
  opacity: 1;
}
body.thursday.h7.am .off, body.thursday.h8.am .off, body.thursday.h12.pm .off, body.thursday.h5.pm .off, body.thursday.h6.pm .off, body.thursday.h7.pm .off, body.thursday.h8.pm .off, body.thursday.h9.pm .off {
  opacity: 1;
}
body.thursday.h10.pm .off, body.thursday.h11.pm .off {
  opacity: 1;
}
/* THURSDAYS CLOCK */
body.thursday.h12.am .time, body.thursday.h1.am .time, body.thursday.h2.am .time, body.thursday.h3.am .time, body.thursday.h4.am .time, body.thursday.h5.am .time, body.thursday.h6.am .time {
  display: none;
}
body.thursday.h7.am .time, body.thursday.h8.am .time, body.thursday.h5.pm .time, body.thursday.h6.pm .time, body.thursday.h7.pm .time, body.thursday.h8.pm .time, body.thursday.h9.pm .time, body.thursday.h10.pm .time {
  display: none;
}
body.thursday.h11.pm .time {
  display: none;
}
/* THURSDAYS 12AM - 8AM SHOW 'YOU CAN'T AFFORD' MESSAGE */
body.thursday.h12.am .offmessage, body.thursday.h1.am .offmessage, body.thursday.h2.am .offmessage, body.thursday.h3.am .offmessage, body.thursday.h4.am .offmessage, body.thursday.h5.am .offmessage, body.thursday.h6.am .offmessage, body.thursday.h7.am .offmessage {
  display: block;
}
body.thursday.h8.am .offmessage {
  display: block;
}
/* THURSDAYS HALF-HOURLY IMAGES, INCL. 12-1PM LUNCH BREAK IMAGE */
body.thursday.h9.secondhalfH.am img.picklespotplant, body.thursday.h10.halfH.am img.fortunecookies, body.thursday.h10.secondhalfH.am img.scalpmassager, body.thursday.h11.halfH.am img.movietickets, body.thursday.h11.secondhalfH.am img.eggsaladsandwiches {
  display: block;
}
body.thursday.h12.pm img.lunch, body.thursday.h1.halfH.pm img.crossword, body.thursday.h1.secondhalfH.pm img.petfish, body.thursday.h2.halfH.pm img.toesockscola, body.thursday.h2.secondhalfH.pm img.mars, body.thursday.h3.halfH.pm img.dumbbellswatermelon {
  display: block;
}
body.thursday.h3.secondhalfH.pm img.bubblewraphandgriptrainer, body.thursday.h4.halfH.pm img.winetoothbrush, body.thursday.h4.secondhalfH.pm img.crazystrawyoyo {
  display: block;
}
/* THURSDAYS HALF-HOURLY MESSAGES, INCL. 12-1PM LUNCH BREAK MESSAGE */
body.thursday.h9.secondhalfH.am .message_picklepotplant, body.thursday.h10.halfH.am .message_fortunecookies, body.thursday.h10.secondhalfH.am .message_scalpmassager, body.thursday.h11.halfH.am .message_movietickets, body.thursday.h11.secondhalfH.am .message_eggsaladsandwiches {
  display: block;
}
body.thursday.h12.pm .message_lunch, body.thursday.h1.halfH.pm .message_crossword, body.thursday.h1.secondhalfH.pm .message_petfish, body.thursday.h2.halfH.pm .message_toesockscola, body.thursday.h2.secondhalfH.pm .message_mars, body.thursday.h3.halfH.pm .message_dumbbellswatermelon {
  display: block;
}
body.thursday.h3.secondhalfH.pm .message_bubblewraphandgriptrainer, body.thursday.h4.halfH.pm .message_winetoothbrush, body.thursday.h4.secondhalfH.pm .message_crazystrawyoyo {
  display: block;
}
/* THURSDAYS HALF-HOURLY TOTAL AMOUNTS MADE MESSAGE, INCL. 12-1PM STAGNANT LUNCH BREAK */
body.thursday.h9.halfH.am .totalamount_none, body.thursday.h9.secondhalfH.am .totalamount_2, body.thursday.h10.halfH.am .totalamount_3, body.thursday.h10.secondhalfH.am .totalamount_4, body.thursday.h11.halfH.am .totalamount_5, body.thursday.h11.secondhalfH.am .totalamount_6 {
  display: block;
}
body.thursday.h12.pm .totalamount_7, body.thursday.h1.halfH.pm .totalamount_7, body.thursday.h1.secondhalfH.pm .totalamount_8, body.thursday.h2.halfH.pm .totalamount_9, body.thursday.h2.secondhalfH.pm .totalamount_10, body.thursday.h3.halfH.pm .totalamount_11 {
  display: block;
}
body.thursday.h3.secondhalfH.pm .totalamount_12, body.thursday.h4.halfH.pm .totalamount_13, body.thursday.h4.secondhalfH.pm .totalamount_14, body.thursday.h5.pm .totalamount_15, body.thursday.h6.pm .totalamount_15, body.thursday.h7.pm .totalamount_15, body.thursday.h8.pm .totalamount_15 {
  display: block;
}
body.thursday.h9.pm .totalamount_15, body.thursday.h10.pm .totalamount_15, body.thursday.h11.pm .totalamount_15 {
  display: block;
}


/* FRIDAYS 9AM-5PM - ON THE CLOCK SWITCH SELECTED, EXCLUDING LUNCH BREAK 12-1 */
body.friday.h12.am .on, body.friday.h1.am .on, body.friday.h2.am .on, body.friday.h3.am .on, body.friday.h4.am .on, body.friday.h5.am .on, body.friday.h6.am .on {
  opacity: 0.05;
}
body.friday.h7.am .on, body.friday.h8.am .on, body.friday.h12.pm .on, body.friday.h5.pm .on, body.friday.h6.pm .on, body.friday.h7.pm .on, body.friday.h8.pm .on, body.friday.h9.pm .on {
  opacity: 0.05;
}
body.friday.h10.pm .on, body.friday.h11.pm .on {
  opacity: 0.05;
}
/* FRIDAYS 5PM-8AM - OFF THE CLOCK SWITCH SELECTED, INCLUDING LUNCH BREAK 12-1 */
body.friday.h12.am .off, body.friday.h1.am .off, body.friday.h2.am .off, body.friday.h3.am .off, body.friday.h4.am .off, body.friday.h5.am .off, body.friday.h6.am .off {
  opacity: 1;
}
body.friday.h7.am .off, body.friday.h8.am .off, body.friday.h12.pm .off, body.friday.h5.pm .off, body.friday.h6.pm .off, body.friday.h7.pm .off, body.friday.h8.pm .off, body.friday.h9.pm .off {
  opacity: 1;
}
body.friday.h10.pm .off, body.friday.h11.pm .off {
  opacity: 1;
}
/* FRIDAYS CLOCK */
body.friday.h12.am .time, body.friday.h1.am .time, body.friday.h2.am .time, body.friday.h3.am .time, body.friday.h4.am .time, body.friday.h5.am .time, body.friday.h6.am .time {
  display: none;
}
body.friday.h7.am .time, body.friday.h8.am .time, body.friday.h5.pm .time, body.friday.h6.pm .time, body.friday.h7.pm .time, body.friday.h8.pm .time, body.friday.h9.pm .time, body.friday.h10.pm .time {
  display: none;
}
body.friday.h11.pm .time {
  display: none;
}
/* FRIDAYS 12AM - 8AM SHOW 'YOU CAN'T AFFORD' MESSAGE */
body.friday.h12.am .offmessage, body.friday.h1.am .offmessage, body.friday.h2.am .offmessage, body.friday.h3.am .offmessage, body.friday.h4.am .offmessage, body.friday.h5.am .offmessage, body.friday.h6.am .offmessage, body.friday.h7.am .offmessage {
  display: block;
}
body.friday.h8.am .offmessage {
  display: block;
}
/* FRIDAYS HALF-HOURLY IMAGES, INCL. 12-1PM LUNCH BREAK IMAGE */
body.friday.h9.secondhalfH.am img.picklespotplant, body.friday.h10.halfH.am img.fortunecookies, body.friday.h10.secondhalfH.am img.scalpmassager, body.friday.h11.halfH.am img.movietickets, body.friday.h11.secondhalfH.am img.eggsaladsandwiches {
  display: block;
}
body.friday.h12.pm img.lunch, body.friday.h1.halfH.pm img.crossword, body.friday.h1.secondhalfH.pm img.petfish, body.friday.h2.halfH.pm img.toesockscola, body.friday.h2.secondhalfH.pm img.mars, body.friday.h3.halfH.pm img.dumbbellswatermelon {
  display: block;
}
body.friday.h3.secondhalfH.pm img.bubblewraphandgriptrainer, body.friday.h4.halfH.pm img.winetoothbrush, body.friday.h4.secondhalfH.pm img.crazystrawyoyo {
  display: block;
}
/* FRIDAYS HALF-HOURLY MESSAGES, INCL. 12-1PM LUNCH BREAK MESSAGE */
body.friday.h9.secondhalfH.am .message_picklepotplant, body.friday.h10.halfH.am .message_fortunecookies, body.friday.h10.secondhalfH.am .message_scalpmassager, body.friday.h11.halfH.am .message_movietickets, body.friday.h11.secondhalfH.am .message_eggsaladsandwiches {
  display: block;
}
body.friday.h12.pm .message_lunch, body.friday.h1.halfH.pm .message_crossword, body.friday.h1.secondhalfH.pm .message_petfish, body.friday.h2.halfH.pm .message_toesockscola, body.friday.h2.secondhalfH.pm .message_mars, body.friday.h3.halfH.pm .message_dumbbellswatermelon {
  display: block;
}
body.friday.h3.secondhalfH.pm .message_bubblewraphandgriptrainer, body.friday.h4.halfH.pm .message_winetoothbrush, body.friday.h4.secondhalfH.pm .message_crazystrawyoyo {
  display: block;
}
/* FRIDAYS HALF-HOURLY TOTAL AMOUNTS MADE MESSAGE, INCL. 12-1PM STAGNANT LUNCH BREAK */
body.friday.h9.halfH.am .totalamount_none, body.friday.h9.secondhalfH.am .totalamount_2, body.friday.h10.halfH.am .totalamount_3, body.friday.h10.secondhalfH.am .totalamount_4, body.friday.h11.halfH.am .totalamount_5, body.friday.h11.secondhalfH.am .totalamount_6 {
  display: block;
}
body.friday.h12.pm .totalamount_7, body.friday.h1.halfH.pm .totalamount_7, body.friday.h1.secondhalfH.pm .totalamount_8, body.friday.h2.halfH.pm .totalamount_9, body.friday.h2.secondhalfH.pm .totalamount_10, body.friday.h3.halfH.pm .totalamount_11 {
  display: block;
}
body.friday.h3.secondhalfH.pm .totalamount_12, body.friday.h4.halfH.pm .totalamount_13, body.friday.h4.secondhalfH.pm .totalamount_14, body.friday.h5.pm .totalamount_15, body.friday.h6.pm .totalamount_15, body.friday.h7.pm .totalamount_15, body.friday.h8.pm .totalamount_15 {
  display: block;
}
body.friday.h9.pm .totalamount_15, body.friday.h10.pm .totalamount_15, body.friday.h11.pm .totalamount_15 {
  display: block;
}

/* OFF THE CLOCK SWITCH FADED OUT, OFF THE CLOCK MESSAGE HIDE */
body.monday body.tuesday body.thursday body.thursday body.friday, .offmessage {
  display: none;
}

body.monday body.tuesday body.wednesday body.thursday body.friday, .off {
  opacity: 0.05;
}


/* SATURDAYS AND SUNDAYS CLOCK - HIDE WHEN 'OFF THE CLOCK': ALL HOURS ON WEEKENDS */
body.saturday .time, body.sunday .time {
  display: none;
}

/* SATURDAYS AND SUNDAYS - SHOW OFF THE CLOCK 'YOU CAN'T AFFORD' MESSAGE*/
body.saturday .offmessage, body.sunday .offmessage {
  display: block;
}

/* SATURDAYS AND SUNDAYS - OFF THE CLOCK SWITCH SELECTED */
body.saturday .on, body.sunday .on {
  opacity: 0.05;
}
body.saturday .off, body.sunday .off {
  opacity: 1;
}
