body {
  font-family: arial;
  font-size: 20px;
  line-height: normal;
  background-color: #FDFCDD;
}

/*
.circle {
  width: 100px;
  height: 100px;
  background-color: gold;
  border-radius: 100px;
  transition: 2s;
}

.circle:hover {
  background-color: red;
  transition: 2s;
}
*/
